body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.content-main {
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;

    background-color: #FFFFFF;
    border : 1px solid #E8E8E8;
    margin: 40px auto;
    width: 520px;
}
.content-header {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

    border-bottom: 1px solid #E8E8E8;
    min-height: 20px;
    padding: 12px;
}
.content-body > div {
    border-bottom: 1px solid #E8E8E8;
    min-height: 51px;
    padding: 9px 12px;
    position: relative;
}
.content-body > div .elem {
    margin-left: 58px;
}
.content-body > div img {
    cursor: pointer;
    left: 12px;
    position: absolute;
    top: 12px;
}
.content-body > div p {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
}
.content-body > div span {
    float: right;
    color: #999999;
    font-size: 12px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}